In [1]:
name ='Rifa'
x = 10
y = 3
z = 3.14

In [5]:
del name             #To delete a variable

## Operators
- Arithmetic operator
- Assignment opertor
- Comparison operator
- Logical operator
- Identity operator
- Membership operator

In [8]:
print(x + y)
print(x - y)
print(x * y)
print(x / y)                            # Floor division
print(x // y)                           # integer division
print(x % y)                            # remainder
print(x ** y)                           # exponential

13
7
30
3.3333333333333335
3
1
1000

In [10]:
a = x + y                   # assignment
a += 1                      # a = a+1
a -= 1                      # a = a-1
a *= 2                      # a = a*2
a /= 5                      # a = a/5
print(a)

5.2

In [2]:
# comparison operation
print(x > y)
print(x < y)
print(x  >= y)
print(x <= y )
print(x == y)
print(x != y)

True
False
True
False
False
True

In [3]:
x < y and y < 10                     #Both should be true

False

In [4]:
not x > y                   # x > y is true but not x > y will be false

False

In [5]:
x < y or y < 10                            #Either one is true

True

In [3]:
# in operator
fruits = ['Apple','Banana','Cherry']
print('Apple' in fruits)
print('Banana' in fruits)
print('Pomegranat' in fruits)
print('apple' in fruits)

True
True
False
False

In [1]:
f = ['Apple','Banana','Cherry']

In [4]:
fruits == f             # value equality

True

In [6]:
fruits is f             # reference equality(memory address)
# Don't chech is operator in integers
x = 10
y = 10
x == y
x is y

True

## Datatype in Python
- int
- float 
- bool
- None
- string
- list
- set
- tuple
- dictionary

In [9]:
# I/O
name = input("Enter your name:")

In [10]:
city = input("Enter your city:")
age = input("Enter your age:")
print(name,city,age)

Rifa Lucknow 21

In [11]:
x = 10
print(type(x))
#convert x into float
x = float(x)
print(x,type(x))
#convert x into string
x = str(x)
print(x,type(x))
#convert x into boolean
x = bool(x)
print(x,type(x))
#convert bool value into string
x = str(x)
print(x,type(x))
#string cannot be coverted into int

<class 'int'>
10.0 <class 'float'>
10.0 <class 'str'>
True <class 'bool'>
True <class 'str'>

In [12]:
x = int(input("Enter a number for A:"))
y = int(input("Enter a number for B:"))
print(x + y)

12

In [15]:
print( ' Name:',name,'\n','Age:',age,'\n','City:',city,'\n')

 Name: Rifa
 Age: 21
 City: Lucknow

In [16]:
print(name,age,city,sep=',')

Rifa,21,Lucknow

In [17]:
print(x,end=' ')                     #End is basically used in loops
print(y)

10 2

In [19]:
print(f'I live in {city}')      #f-string

I live in Lucknow

In [21]:
print(f'x={x}, y={y}')
print(f'x**y={x**y}')
print(f'x+y={x+y}')

x=10, y=2
x**y=100
x+y=12

In [22]:
print(f'{name} {len(name)}')
print(f'{city} {len(city)}')

Rifa 4
Lucknow 7

In [23]:
print(f'{name:15} {len(name)}')
print(f'{city:15} {len(city)}')

Rifa            4
Lucknow         7