#### List
- indexed, ordered, mutable, allows duplicate elements, heterogeneous, '[]', 'list()'
#### Tuple
- indexed, ordered, **immutable**, allows duplicate elements, heterogeneous, '()', 'tuple()'
#### Set
- **unordered**, mutable, **does not allows duplicate elements**, heterogeneous, '{}', 'set()'
#### Dictionary
- **unordered**, mutable, **does not allows duplicate elements**, heterogeneous, key:value pairs, '{}', 'dict()'

##### list
- creating
- indexing and slicing
- methods(11 methods)
- list comprehension

In [15]:
x = [1,2,3,4,5]
names = ['John', 'Paul', 'George', 'Ringo']
mix = [1, 'John', 3.14, True]
nested = [[1,2,3], [4,5,6], [7,8,9]]
mt = []
cloned = [1,2,3] * 5
words  = 'this is sparta'.split()
chars = list('Alexander')

In [17]:
print(x[0])
print(x[-1])
x[0] = 100

100
5

In [6]:
chars[:5]

['A', 'l', 'e', 'x', 'a']

In [7]:
chars[::-1]

['r', 'e', 'd', 'n', 'a', 'x', 'e', 'l', 'A']

- adding
    - append()
    - extend()
    - insert()
- removing
    - pop()
    - remove()
    - clear()
- utility methods
    - count()
    - index()
    - sort()
    - reverse()
    - copy()

In [18]:
x.append(6)
x.append(3)
print(x)

[100, 2, 3, 4, 5, 6, 3]

In [19]:
a = [11,12,13]
x.extend(a)
print(x)

[100, 2, 3, 4, 5, 6, 3, 11, 12, 13]

In [20]:
x.insert(5,100)
x.insert(6,500)
print(x)

[100, 2, 3, 4, 5, 100, 500, 6, 3, 11, 12, 13]

In [21]:
# write a program to take 10 value from user and print it in the list
lst = []
for i in range(10):
    text = input("Enter a value:")
    lst.append(text)
print(lst)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [24]:
if '5' in lst:    
    lst.remove('5')
print(lst)

['1', '2', '3', '4', '6', '7', '8', '9', '10']

In [26]:
lst.remove('9') if '9' in lst else print('9 not found')

9 not found

In [27]:
x = [1,2,3,4,5]
print(x.pop())
print(x.pop(2))

5
3

In [30]:
x.clear()
print(x)

[]

In [31]:
del x

In [32]:
a = [1,2,3,1,1,2,2,2,2,1,1,1]
a.count(1)

6

In [33]:
names.sort()
print(names)

['George', 'John', 'Paul', 'Ringo']

In [36]:
n1=0
n2=1
lst = []
lst.append(n1)
lst.append(n2)
i = 0
while i<8:
        nth = n1 + n2  
        lst.append(nth)
        n1 = n2
        n2 = nth
        i+=1
print(lst)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [37]:
x = [0,1]
for i in range(8):
    x.append(x[-2] + x[-1])
print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]